<li>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= auto_link(micropost.content) %></span>
  <span class="timestamp">
    Размещено <%= time_ago_in_words(micropost.created_at) %> тому назад.
    <% if current_user?(micropost.user) %>
      <%= link_to micropost, method: :delete, data: { confirm: "Вы уверены?" }, title: micropost.content do %>
        <span class="glyphicon glyphicon-trash"></span> удалить
      <% end %>
    <% else %>
      <%= link_to micropost do %>
        <span class="glyphicon glyphicon-new-window"></span> ответить
      <% end %>
    <% end %>
  </span>
</li>
